{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<div class="container">
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>DateHeure</th>
                <td>{{ commande.dateHeure ? commande.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ commande.statut }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ commande.total }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ commande.client.nom }} {{ commande.client.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}">edit</a>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    {{ include('commande/_delete_form.html.twig') }}
</div>
{% endblock %}
